<ion-header>
	<ion-toolbar>
		<ion-title>Settings</ion-title>
		<ion-buttons slot="end">
			@if (isCompactView()) {
			<ion-button (click)="resetSettings()">Reset</ion-button>
			<ion-button (click)="router.navigate(['ai-dashboard/settings'])">
				Expand
				<ion-icon slot="end" name="open-outline"></ion-icon>
			</ion-button>
			} @else {
			<ion-button (click)="settingsService.downloadSettings()">
				<ion-icon slot="start" name="download-outline"></ion-icon>
				Download
			</ion-button>
			<ion-button (click)="settingsService.selectAndValidateSettingsJsonFile()">
				<ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
				Upload
			</ion-button>
			<ion-button (click)="settingsService.saveSettings()">Save</ion-button>
			<ion-button (click)="resetSettings()">Reset</ion-button>
			}
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		@if (isCompactView()) {
		<ion-item>
			<ion-select label="Model" label-placement="stacked" [(ngModel)]="settings().model"
				(ionChange)="settingsService.saveSettings()" interface="popover" [compareWith]="compareModels">
				@for (model of settings().models; track model) {
				<ion-select-option [value]="model" [disabled]="model.disabled">
					{{ model.org }} -- {{ model.name }}
					@if (model.retryAfter && model.disabled) {
					<small class="m-l-10">({{ model.retryAfterDate }})</small>
					}
				</ion-select-option>
				}
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-select label="Processing Strategy" label-placement="stacked" interface="popover"
				[(ngModel)]="settings().processingStrategy" (ionChange)="settingsService.saveSettings()">
				@for (strategy of processingStrategies; track strategy) {
				<ion-select-option [value]="strategy"> {{ strategy }}</ion-select-option>
				}
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-input label="Max Output Tokens" type="number" label-placement="stacked"
				[(ngModel)]="settings().maxOutputTokens" (ionChange)="settingsService.saveSettings()"></ion-input>
		</ion-item>
		<ion-item>
			<ion-select label="Role" label-placement="stacked" interface="popover"
				[(ngModel)]="settings().selectedPrompt" [compareWith]="comparePrompts" (ionChange)="onPromptChange()">
				@for (prompt of settings().prompts; track prompt.name) {
				<ion-select-option [value]="prompt">{{ prompt.name }}</ion-select-option>
				}
			</ion-select>
		</ion-item>
		}
		@if (!isCompactView()) {
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-range label="Temperature" label-placement="stacked" min="0" max="1" step="0.01"
						[(ngModel)]="settings().temperature" (ionChange)="settingsService.saveSettings()"></ion-range>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-range label="Top P" label-placement="stacked" min="0" max="1" step="0.01"
						[(ngModel)]="settings().topP" (ionChange)="settingsService.saveSettings()"></ion-range>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-range label="N" label-placement="stacked" min="1" max="100" step="1" [(ngModel)]="settings().n"
						(ionChange)="settingsService.saveSettings()"></ion-range>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-select label="Model" label-placement="stacked" [(ngModel)]="settings().model"
						(ionChange)="settingsService.saveSettings()" interface="popover" [compareWith]="compareModels">
						@for (model of settings().models; track model) {
						<ion-select-option [value]="model" [disabled]="model.disabled">
							{{ model.org }} -- {{ model.name }}
							@if (model.retryAfter && model.disabled) {
							<small class="m-l-10">({{ model.retryAfterDate }})</small>
							}
						</ion-select-option>
						}
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-select label="Processing Strategy" label-placement="stacked" interface="popover"
						[(ngModel)]="settings().processingStrategy" (ionChange)="settingsService.saveSettings()">
						@for (strategy of processingStrategies; track strategy) {
						<ion-select-option [value]="strategy"> {{ strategy }}</ion-select-option>
						}
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-input label="Max Output Tokens" type="number" label-placement="stacked"
						[(ngModel)]="settings().maxOutputTokens"
						(ionChange)="settingsService.saveSettings()"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-select label="Role" label-placement="stacked" interface="popover"
						[(ngModel)]="settings().selectedPrompt" [compareWith]="comparePrompts"
						(ionChange)="onPromptChange()">
						@for (prompt of settings().prompts; track prompt.name) {
						<ion-select-option [value]="prompt">{{ prompt.name }}</ion-select-option>
						}
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-input label="Google API Key" label-placement="stacked"
						[(ngModel)]="settings().apiKeys['google']" (ionInput)="settingsService.saveSettings()"
						placeholder="Enter Google API Key"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-input label="Github PAT Token" label-placement="stacked"
						[(ngModel)]="settings().apiKeys['github']" (ionInput)="settingsService.saveSettings()"
						placeholder="Enter Github PAT Token"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-item>
			<ion-button (click)="settingsService.addPromptItem()">Add Role</ion-button>
		</ion-item>
		<ion-accordion-group (ionChange)="expandedAccordion = $event.detail.value;">
			@for (prompt of settings().prompts; track prompt) {
			<ion-accordion [value]="prompt.name">
				<ion-item slot="header">
					<ion-label>{{ prompt.name }}</ion-label>

					@if (expandedAccordion == prompt.name) {
					<ion-button title="Add" slot="end" fill="clear" (click)="settingsService.addPrompt(prompt,$event)">
						<ion-icon name="add-circle"></ion-icon>
					</ion-button>
					}
					<ion-button slot="end" fill="clear" (click)="settingsService.removePromptItem(prompt.name)">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-button>
				</ion-item>
				@if (expandedAccordion == prompt.name) {
				<div class="ion-padding" slot="content">
					<ion-list>
						<ion-item>
							<ion-input label="Name" label-placement="stacked" [(ngModel)]="prompt.name"
								(ionInput)="settingsService.saveSettings()" placeholder="Enter name"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input label="Role" label-placement="stacked" [(ngModel)]="prompt.role"
								(ionInput)="settingsService.saveSettings()" placeholder="Enter role"></ion-input>
						</ion-item>
						@for (promptText of prompt.promptTextList; track promptText; let i = $index) {
						<ion-item>
							<ion-checkbox slot="start" [(ngModel)]="promptText.selected"
								(ionChange)="settingsService.saveSettings()"></ion-checkbox>
							<ion-input [(ngModel)]="promptText.text" (ionInput)="settingsService.saveSettings()"
								placeholder="Enter prompt"></ion-input>
							<ion-button title="Remove" slot="end" color="danger" fill="clear"
								(click)="settingsService.removePrompt(prompt, i)">
								<ion-icon name="remove-circle"></ion-icon>
							</ion-button>
						</ion-item>
						}
					</ion-list>
				</div>
				}
			</ion-accordion>
			}
		</ion-accordion-group>
		}
	</ion-list>
</ion-content>
