<ion-header>
	<ion-toolbar>
		<ion-title>Settings</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="saveSettings()">Save</ion-button>
			<ion-button (click)="resetSettings()">Reset</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-range label="Temperature" label-placement="stacked" min="0" max="1" step="0.01"
						[(ngModel)]="settings().temperature" (ionChange)="saveSettings()"></ion-range>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-range label="Top P" label-placement="stacked" min="0" max="1" step="0.01"
						[(ngModel)]="settings().topP" (ionChange)="saveSettings()"></ion-range>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-range label="N" label-placement="stacked" min="1" max="100" step="1" [(ngModel)]="settings().n"
						(ionChange)="saveSettings()"></ion-range>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-select label="Model" label-placement="stacked" [(ngModel)]="settings().model"
						(ionChange)="saveSettings()">
						@for (model of settings().models; track model) {
						<ion-select-option [value]="model.name" [disabled]="model.disabled">
							{{ model.name }}
							@if (model.retryAfter && model.disabled) {
							<small class="m-l-10">({{ model.retryAfterDate }})</small>
							}
						</ion-select-option>
						}
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-select label="Processing Strategy" label-placement="stacked"
						[(ngModel)]="settings().processingStrategy" (ionChange)="saveSettings()">
						@for (strategy of processingStrategies; track strategy) {
						<ion-select-option [value]="strategy"> {{ strategy }}</ion-select-option>
						}
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-input label="System Role" label-placement="stacked" [(ngModel)]="settings().systemRole"
						(ionInput)="saveSettings()" placeholder="Enter system role"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-input label="Google API Key" label-placement="stacked"
						[(ngModel)]="settings().apiKeys['google']" (ionInput)="saveSettings()"
						placeholder="Enter Google API Key"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-input label="Github PAT Token" label-placement="stacked"
						[(ngModel)]="settings().apiKeys['github']" (ionInput)="saveSettings()"
						placeholder="Enter Github PAT Token"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-list>
			@for (prompt of settings().prompts; track prompt) {
			<ion-item-group>
				<ion-item-divider sticky="true">
					<ion-label>{{ prompt.name }} Prompts</ion-label>
					<ion-button title="Add" slot="end" size="medium" fill="clear" (click)="addPrompt(prompt)">
						<ion-icon name="add-circle"></ion-icon>
					</ion-button>
				</ion-item-divider>
				@for (prompttext of prompt.promptTextList; track prompttext; let i = $index) {
				<ion-item>
					<ion-checkbox slot="start" [(ngModel)]="prompttext.selected"
						(ionChange)="saveSettings()"></ion-checkbox>
					<ion-input [(ngModel)]="prompttext.text" (ionInput)="saveSettings()"
						placeholder="Enter prompt"></ion-input>
					<ion-button title="Remove" slot="end" color="danger" fill="clear" (click)="removePrompt(prompt, i)">
						<ion-icon name="remove-circle"></ion-icon>
					</ion-button>
				</ion-item>
				}
			</ion-item-group>
			}
		</ion-list>
	</ion-list>
</ion-content>
