.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	transition: border-color 0.3s ease, color 0.3s ease;

	&.drag-over {
		border-color: #777;
		color: #777;
	}
}

.drop-message {
	color: #aaa;
	font-size: 20px;
	padding: 10px;
}

.button-container {
	display: flex;
	gap: 4px;
	position: absolute;
	right: 20px;
	z-index: 10;
}