<ion-content class="ion-padding">
	<form #loginForm="ngForm" (ngSubmit)="login()">
		<ion-grid>
			<ion-row class="ion-justify-content-center">
				<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
					<div class="ion-text-center">
						<h3>Login</h3>
					</div>
					<ion-item>
						<ion-input label="Username" labelPlacement="stacked" type="text" name="username"
							[(ngModel)]="loginData.username" required></ion-input>
					</ion-item>
					<ion-item>
						<ion-input label="Password" labelPlacement="stacked" type="password" name="password"
							[(ngModel)]="loginData.password" required></ion-input>
					</ion-item>
					<ion-button type="submit" expand="full" [disabled]="loginForm.invalid">Login</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
