<ion-split-pane content-id="chat-content">
	<ion-menu side="end" content-id="chat-content" type="overlay">
		<ion-content>
			<app-settings [isCompactView]="true"></app-settings>
		</ion-content>
	</ion-menu>

	<div id="chat-content">
		<ion-header>
			<ion-toolbar>
				<ion-title>AI Chat</ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="toggleSideBarOpen('aiChat')" title="Settings">
						<ion-icon slot="icon-only" name="settings-outline"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>

		<ion-content #myContent>
			@let messagesSig = messages();
			@if(messagesSig.length > 0) {
			<ion-list>
				@for (message of messagesSig; track message) {
				<ion-item>
					<ion-avatar slot="start">
						<img [src]="message.role === 'user' ? 'https://i2.wp.com/cdn.auth0.com/avatars/ma.png' : 'https://i2.wp.com/cdn.auth0.com/avatars/as.png'"
							[alt]="(message.role === 'user' ? 'User' : 'AI') + ' Avatar'" />
					</ion-avatar>
					<ion-label class="ion-text-wrap">
						<pre class="wrapped-pre">{{ message.text }}</pre>
					</ion-label>
				</ion-item>
				}
			</ion-list>
			}
		</ion-content>

		<ion-footer>
			<ion-chip (click)="summarizeActivePage()">
				<ion-icon name="color-wand-outline"></ion-icon>
				<ion-label>Summarize Active Page</ion-label>
			</ion-chip>
			<ion-chip (click)="clearMessages()">
				<ion-label>Clear</ion-label>
			</ion-chip>

			@if (isProcessing()) {
			<ion-progress-bar type="indeterminate"></ion-progress-bar>
			}

			<ion-toolbar>
				<ion-textarea [autoGrow]="true" [(ngModel)]="message" (keyup.enter)="sendMessage()"
					placeholder="Type your message" rows="1"></ion-textarea>
				<ion-buttons slot="end">
					<ion-button [disabled]="isProcessing() || !message()" (click)="sendMessage()">
						<ion-icon slot="icon-only" name="send"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-footer>
	</div>
</ion-split-pane>
