.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	text-align: center;
	border-color: #444;
	color: #444;
}

.drop-message {
	font-size: 20px;
	color: #aaa;
	padding: 10px;
}

.drag-over {
	border-color: #777;
	color: #777;
}

.wrapped-pre {
	white-space: pre-wrap;
}
