.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	text-align: center;
	transition: border-color 0.3s ease, color 0.3s ease;

	&.drag-over {
		border-color: #777;
		color: #777;
	}
}

.drop-message {
	font-size: 20px;
	color: #aaa;
	padding: 10px;
}

.prompt-container {
	margin: 0 20px;
}
