.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
	transition: border-color 0.3s ease, color 0.3s ease;
	position: relative;

	&.drag-over {
		border-color: #777;
		color: #777;
	}
}

.drop-message {
	font-size: 20px;
	color: #aaa;
	padding: 10px;
}

#main-content {
	padding-bottom: 60px;
}

.button-container {
	position: absolute;
	right: 20px;
	display: flex;
	z-index: 10;
	gap: 4px;
}

.send-button-container {
	position: absolute;
	bottom: 20px;
	right: 0px;
}