<ion-split-pane when="xs" content-id="main-content">
	<ion-menu side="end" content-id="main-content" type="overlay" [disabled]="!settings().sideBarOpen?.['aiAgent']">
		<ion-content>
			<app-settings [isCompactView]="true"></app-settings>
		</ion-content>
	</ion-menu>

	<div id="main-content">
		<ion-header>
			<ion-toolbar>
				<ion-buttons slot="start">
					<ion-menu-button></ion-menu-button>
				</ion-buttons>
				<ion-title>AI Agent</ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="toggleSideBarOpen('aiAgent')" title="Settings">
						<ion-icon slot="icon-only" name="settings-outline"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>

		<ion-content [scrollEvents]="true" class="ion-padding">

			<ion-textarea [rows]="7" label="Prompt" counter="true" [maxlength]="50000" color="primary"
				labelPlacement="stacked" [(ngModel)]="currentPrompt().prompt" placeholder="Type your prompt"
				fill="solid">
				<ion-buttons class="send-button-container">
					@if(!isProcessing()) {
					<ion-button fill="clear" [disabled]="isProcessButtonDisabled()" (click)="onProcessFiles()">
						<ion-icon slot="icon-only" name="send"></ion-icon>
					</ion-button>
					} @else {

					<ion-button fill="clear" (click)="onStopProcessing()" title="Stop Processing">
						<ion-icon slot="icon-only" name="stop-circle-outline"></ion-icon>
					</ion-button>
					}
				</ion-buttons>
			</ion-textarea>
			<app-file-manager [(allFiles)]="allFiles" [acceptReferences]="true"></app-file-manager>
		</ion-content>
	</div>
</ion-split-pane>
